[Desktop Entry]
Encoding=UTF-8
Name=Clash Verge
Type=Application
Comment=A Clash GUI based on tauri. Supports Windows, macOS and Linux.
Exec=/home/fuyang/.local/apps/clash-verge.AppImage
Icon=clash-verge
Terminal=false
Categories=Network;Application;
StartupNotify=true
