[user]
	email = fuyang_yu@outlook.com
	name = Foryoung Yu
[core]
	editor = nvim
[alias]
	ci = commit
	ca = commit --amend
	can = commit --amend --no-edit
	co = checkout
	br = branch
	st = status
	adog = log --all --decorate --oneline --graph
[color]
	ui = auto
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true