[user]
	email = foryoung_yu@outlook.com
	name = Foryoung Yu
[core]
	editor = nvim
[alias]
	ci = commit
	co = checkout
    br = branch
    st = status
[color]
	ui = auto
[http]
	proxy = http://127.0.0.1:7890
[https]
	proxy = https://127.0.0.1:7890
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
